*.sw*
*.o
*.dll
*.a
*~
*.exe
*.gch
tags
.idea
build*
data/*-ubyte
docs/html/*.html
docs/html/*.png
docs/html/*.css
docs/html/dynsections.js
docs/html/jquery.js
benchmarks/*.err
benchmarks/*.log
benchmarks/bench_*
benchmarks/*_results.txt
